@model IEnumerable<MeBooks.Entities.Books>

@{
    ViewBag.Title = "MeBooks";
}

<h2>List of My Books</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.BookCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { code=item.BookCode }, new { @class = "btn btn-warning btn-sm" }) |
            @Html.ActionLink("Details", "Details", new { code = item.BookCode }, new { @class = "btn btn-info btn-sm" }) |
            @Html.ActionLink("Delete", "Delete", new { code = item.BookCode }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
